<ion-header>
  <ion-toolbar >
    <ion-title>Mes commandes </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="all-write" menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment  [(ngModel)]="searchTerm" >
    <ion-segment-button value="en cours">
      <ion-label>En cours</ion-label>
    </ion-segment-button>
    <ion-segment-button value="valide">
      <ion-label>Valider</ion-label>
    </ion-segment-button>
    <ion-segment-button value="annule">
      <ion-label>Annuler</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
  <ion-item class="date">
    <ion-label class="all-write" position="fixed">Filtre par date</ion-label>
    <ion-input [(ngModel)]="searchTermDate" type="date"></ion-input>
  </ion-item>
  <ion-list *ngFor="let commande of commandes
    | commandeFilter:searchTerm
    | CommandeDateFilter:searchTermDate">
    <ion-item routerLink="/detail-com/{{commande.id}}">
      <ion-label >
       N° {{commande.numeroCommande}}
      </ion-label>
      <ng-container *ngIf="commande.etat == 'en cours'">
        <ion-label >
          <ion-icon (click)='CommandetoEdit(commande.id)' color="danger" name="ban-outline"></ion-icon>
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
