<ion-header>
  <ion-toolbar class="all">
    <ion-title>Mes commandes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-item>
    <ion-label position="fixed">Filtre par etat</ion-label>
    <ion-input  [(ngModel)]="searchTerm" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Filtre par date</ion-label>
    <ion-input [(ngModel)]="searchTermDate" type="date"></ion-input>
  </ion-item>
  <ion-list *ngFor="let commande of commandes
    | commandeFilter:searchTerm
    | CommandeDateFilter:searchTermDate">
    <ion-item routerLink="detail-commande/{{commande.id}}">
      <ion-label class="ion-text-wrap">{{commande.id}}</ion-label>
      <ion-label >{{commande.montantCommande}}</ion-label>
      <ion-label >{{commande.etat}}</ion-label>
      <ion-label side="end"><ion-icon color="danger" name="ban-outline"></ion-icon></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
