ion-icon{
    margin-left: 60%;
}
ion-list{
    margin-top: 10%;
}
ion-item{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ion-input{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ion-back-button{
    --color: #C2B364;
}
.date{
    margin-top: 5%;
}
