<ion-header>
  <ion-toolbar>
    <ion-title>catalogue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <img src="assets/burgerCard.jpg" >
      <h3>slide 1</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/burgerCard2.jpg" >
      <h3>slide 2</h3>
    </ion-slide>
    <ion-slide>
      <img src="assets/burgerCard3.jpg" >
      <h3>slide 3</h3>
    </ion-slide>
  </ion-slides>
  <div class="choices-catalogues">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <button class=" nav-link" (click)="filterProduct('')"
             data-toggle="tab">CATALOGUE</button>
        </li>
        <li class=" nav-item li2">
          <button class="nav-link"  (click)="filterProduct('burger')">BURGERS</button>
        </li>
        <li class=" nav-item li2">
            <button class="nav-link" (click)="filterProduct('menu')">MENUS</button>
          </li>
      </ul>
</div>
  <ng-container *ngFor="let catalogue of catalogues">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{catalogue.prix}} fcfa</ion-card-subtitle>
        <ion-card-title>{{catalogue.nom}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="data:image/png;base64,{{catalogue?.image}}"  >
        <ion-button color="warning">Detail</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
  
</ion-content>
