ion-slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
ion-button{
    margin-left: 70%;
    height: 30px;
}
ul{
    display: flex;
    margin-left: -10%;
}
li{
    margin-left: 15%;
}
img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.spinner-4 {
    margin-left: 40%;
    margin-top: 65%;
    width: 50px;
    --b: 8px; /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#C2B364) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 1s infinite steps(10);
  }
  @keyframes s4 {to{transform: rotate(1turn)}}