<ion-header>
  <ion-toolbar>
    <ion-title>catalogue</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="all-write" menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="catalogues == undefined">
  <ion-content>
    <app-loader></app-loader>
  </ion-content>
</ng-container>
<ng-container *ngIf="catalogues != undefined">
<ion-content [fullscreen]="true" (load)="showLoading()">
  <ion-slides  pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/burgerCard.jpg" >
    </ion-slide>
    <ion-slide>
      <img src="{{pathImage}}/burgerCard2.jpg" >
    </ion-slide>
    <ion-slide>
      <img src="{{pathImage}}/burgerCard3.jpg" >
    </ion-slide>
  </ion-slides>

  <ion-segment>
    <ion-segment-button  (click)="filterProduct('burger')" value="burger">
      <ion-label>Burger</ion-label>
    </ion-segment-button>
    <ion-segment-button  (click)="filterProduct('menu')" value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="presentAlert()" value="prix">
      <ion-label>Prix</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngFor="let catalogue of catalogues">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle><ion-icon class="all" name="pricetags-outline"></ion-icon>{{catalogue.prix}} fcfa</ion-card-subtitle>
        <ion-card-title>{{catalogue.nom}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="data:image/png;base64,{{catalogue?.image}}">
        <a routerLink="/detail/{{catalogue?.type}}/{{catalogue?.id}}">
          <ion-button class="all"><ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
        </a>
      </ion-card-content>
    </ion-card>
  </ng-container>
  
</ion-content>
</ng-container>

