<ion-header

>
  <ion-toolbar>
    <ion-title>livreur</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="livraisons == undefined">
    <ion-content>
      <app-loader></app-loader>
    </ion-content>
</ng-container>
<ng-container  *ngIf="livraisons != undefined" >
  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img  src="assets/livreur1.webp" >
      </ion-slide>
      <ion-slide>
        <img src="assets/livreur2.webp" >
      </ion-slide>
    </ion-slides>
    <ion-item>
      <b class="title write">Liste des livraisons</b>
    </ion-item>
    <ion-list *ngFor="let livraison of livraisons">
      <ng-container *ngFor="let commande of livraison.commandes">
    <ion-item >
        <ion-label>
          <b>
            {{commande.client.prenom}} {{commande.client.nom}} - {{commande.zone.libelle}} 
          </b>
          <ion-button routerLink="qr-code/{{commande.id}}" class="all qr-code">
            <ion-icon  name="qr-code-outline"></ion-icon>
          </ion-button>
          <br>
          <p  class="write">Total : {{commande.montantCommande}} fcfa - {{commande.client.telephone}}</p>
        </ion-label>
      
    </ion-item>
  </ng-container>
  </ion-list>
  </ion-content>
</ng-container>

