<ion-header>
  <ion-toolbar>
    <ion-title>livreur</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="all-write" menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="livraisons == undefined">
    <ion-content>
      <app-loader></app-loader>
    </ion-content>
</ng-container>
<ng-container  *ngIf="livraisons != undefined" >
  <ion-content>    
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img  src="assets/livreur1.webp" >
      </ion-slide>
      <ion-slide>
        <img src="assets/livreur2.webp" >
      </ion-slide>
    </ion-slides>
    <ion-item>
      <b class="title write">Liste des livraisons</b>
    </ion-item>
    <ion-segment [(ngModel)]="searchTerm">
      <ion-segment-button value="en cours">
        <ion-label>En cours</ion-label>
      </ion-segment-button>
      <ion-segment-button value="valide">
        <ion-label>Validée</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-list *ngFor="let livraison of livraisons | commandeFilter:searchTerm">
      <ng-container *ngFor="let commande of livraison.commandes">
    <ion-item >
        <ion-label>
          <b>
            {{commande.client.prenom}} {{commande.client.nom}} - {{commande.zone.libelle}} 
          </b>
          <ng-container *ngIf="commande.etat=='enCoursDeLivraison'">
            <ion-button routerLink="qr-code/{{commande.id}}" class="all qr-code">
              <ion-icon  name="qr-code-outline"></ion-icon>
            </ion-button>
          </ng-container>
          <br>
          <p  class="write">Total : {{commande.montantCommande}} fcfa - {{commande.client.telephone}}</p>
        </ion-label>
      
    </ion-item>
  </ng-container>
  </ion-list>
  </ion-content>
</ng-container>

