form{
    margin-top: 20%;
}
img{
    margin-left: 35%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
title{
    color: white;
}
a{
    margin-left: 35%;
    margin-top: 10%;
}
ion-button{
    margin-top: 5%;
}