form{
    margin-top: 2%;
}
img{
    margin-left: 35%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10% ;
}
title{
    color: white;
}
a{
    margin-left: 35%;
    margin-top: 10%;
}
ion-button{
    margin-top: 5%;
    --background-hover: #C2B364;
    --background: #C2B364;
}
.form_error{
    color: red;
}
p{
    margin-left: 50%;
}
ion-title{
    margin-left: 30%;
}