<ion-header>
  <ion-toolbar class="all">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/logo.bin" alt="">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="all" expand="block">connexion</ion-button>
        <ion-button class="btn" routerLink="/inscription" color="light" expand="block">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>