ion-button{
    margin-left: 70%;
    --background-hover: #C2B364;
}
ion-back-button{
    --color: #C2B364;
}
.prix{
    margin-left: 30%;
    font-size: large;
}
.description{
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    text-transform: uppercase;
    color: #C2B364;
    margin-left: 25%;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}