<ion-header>
<!-- parallax
imageUrl="assets/burgerCard.jpg"
height="100"
bgPosition="top" -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="catalogue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="(produit|async) == null">
  <ion-content>
    <app-loader></app-loader>
  </ion-content>
</ng-container>
<ng-container *ngIf="(produit|async) != null">
  <ion-content >
    <ng-container *ngIf="(produit|async)?.menu?.type == 'menu'">
      <h2>{{(produit|async)?.menu?.nom}}</h2>
      <img  src="data:image/png;base64,{{(produit|async)?.menu?.image}}" alt="...">
      <p class="prix">  <ion-icon class="all" name="pricetags-outline"></ion-icon>{{(produit|async)?.menu?.prix}} FCFA</p>
    </ng-container>  
    <ng-container *ngIf="(produit|async)?.burger?.type == 'burger'">
      <h2>{{(produit|async)?.burger?.nom}}</h2>
      <img src="data:image/png;base64,{{(produit|async)?.burger?.image}}" alt="...">
      <p class="prix"> <ion-icon class="all" name="pricetags-outline"></ion-icon>{{(produit|async)?.burger?.prix}} FCFA</p>
    </ng-container> 
    <ng-container *ngIf="(produit|async)?.burger?.type == 'burger'" >
      <p class="description">
          {{(produit|async)?.burger?.description}}
      </p>
      
    </ng-container>
    <ng-container *ngIf="(produit|async)?.menu?.type == 'menu'">
      <p  class="description">
          {{(produit|async)?.menu?.description}}
      </p>
    </ng-container>
     <!-- Quantity -->
     
     <div class="d-flex mb-4" class="qte">
      <ion-button class="btn size" (click)="dec()"
        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
  
      <div class="form-outline">
        <input [(ngModel)]="qte" id="form1" min="1" name="quantity" value={{qte}} type="number" class="form-control" />
      </div>
  
      <ion-button  class="btn size" (click)="inc()" 
        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
    <!-- Quantity -->
  
    <ion-button *ngIf="produit | async as product" class="all add" (click)="addToCart(product)">Ajouter</ion-button>
    <!-- <div class="boissons">
      <img src="assets/boissons/24.png"  />
    </div> -->
  </ion-content>
</ng-container>

