<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="commandes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-label class="montant"><p class="b">Total montant : {{commande.montantCommande}}fcfa</p></ion-label>
  <ion-list>
    <ng-container *ngIf="commande.burgerCommandes != null">
      <ion-item *ngFor="let burger of commande.burgerCommandes">
        <ion-thumbnail item-left>            
          <img src="data:image/png;base64,{{burger?.burger.image}}">
        </ion-thumbnail>
        <ion-label class="name" >
          <b>{{burger.burger.nom}}</b><br>
          <b>({{burger.quantite}})</b>
          <b class="prix">{{burger.burger.prix}} fcfa</b>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="commande.menuCommandes != null">
      <ion-item *ngFor="let menu of commande.menuCommandes">
        <ion-thumbnail item-left>            
          <img src="data:image/png;base64,{{menu?.menu.image}}">
        </ion-thumbnail>
        <ion-label class="name">
          <b>{{menu.menu.nom}}</b><br>
          <b>({{menu.quantite}})</b>
          <b class="prix">{{menu.menu.prix}} fcfa</b>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="commande.boissonCommandes != null">
      <ion-item *ngFor="let boisson of commande.boissonCommandes">
        <ion-thumbnail item-left>            
          <img src="/assets/boissons/{{boisson.boissonTailleBoisson.boisson.id}}.png">
        </ion-thumbnail>
        <ion-label class="name">
          <b>{{boisson.boissonTailleBoisson.boisson.nom}}</b><br>
          <b>({{boisson.quantite}})</b>
          <b class="prix">{{boisson.boissonTailleBoisson.boisson.prix}} fcfa</b>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="commande.friteCommandes != null">
      <ion-item *ngFor="let frite of commande.friteCommandes">
        <ion-thumbnail item-left>            
          <img src="/assets/frites/{{frite.portionFrite.id}}.jpg">
        </ion-thumbnail>
        <ion-label class="name">
          <b> {{frite.portionFrite.nom}}</b><br>
          <b>({{frite.quantite}})</b>
          <b class="prix">{{frite.portionFrite.prix}} fcfa</b>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>