ion-back-button{
    --color: #C2B364;
}

img{
    margin-left: -5%;
    height: 60px;
    width: 60px;
}
ion-item{
    margin-top: 5%;
}
.name{
    margin-left: 5%;
}

.b{
    margin-top: 10%;
    margin-left: 5%;
    font-size: x-large;
    color:#C2B364
}
.prix{
    margin-left: 10%;
}